@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #000;
$white: #fff;
$dark-blue: #272643;
$lightblue: ##bae8e8;
$light-blue: #e3f6f5;
$medium-blue: #2c698d;

:root {
  --foreground-rgb: $black;
  --background-start-rgb: #$white;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: $white;
    --background-start-rgb: $black;
    --background-end-rgb: $blackk;
  }
}

@layer base {
  h1 {
    @apply px-2;
    @apply py-2;
    @apply text-[$dark-blue];
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
